<h1>Greetings, <%= @name %></h1> 
Time now is <%= formatted_time(@time) %><br/>
This page has been viewed <%= @times_displayed %> time(s)

<p><%= link_to "Goodbye", greeter_goodbye_path %></p>               
<p><%= link_to "Google", "http://www.google.com/" %></p>               